<h1>Actions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @actions.each do |action| %>
      <tr>
        <td><%= action.id %></td>
        <td><%= link_to action.name, action_path(action) %></td>
        <td><%= action.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_action_path(action), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', action_path(action), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_action_path, :class => 'btn btn-primary' %>
